@{
    ViewBag.Title = "Resolute Tissue | Jumbo Rolls Report";
}


<h3>Jumbo Rolls Physical Properties Report</h3>


<div class="row no-gutters">
    <form action="/" method="post">
        <div class="col-xl-12">
            <div class="form-row">
                <div class="form-group">
                    <div class="input-group date" id="datetimepicker7" data-target-input="nearest">
                        <label for="datetimeFrom" class="col-form-label">From:</label>
                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker7" />
                        <div class="input-group-append" data-target="#datetimepicker7" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group date" id="datetimepicker8" data-target-input="nearest">
                        <label for="datetimeTo" class="col-form-label">To:</label>
                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker8" />
                        <div class="input-group-append" data-target="#datetimepicker8" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

    @*<div class="container">
            <div class='col-md-5'>
                <div class="form-group">
                    <div class="input-group date" id="datetimepicker7" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker7" />
                        <div class="input-group-append" data-target="#datetimepicker7" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-md-5'>
                <div class="form-group">
                    <div class="input-group date" id="datetimepicker8" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker8" />
                        <div class="input-group-append" data-target="#datetimepicker8" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker7').datetimepicker();
            $('#datetimepicker8').datetimepicker({
                useCurrent: false
            });
            $("#datetimepicker7").on("change.datetimepicker", function (e) {
                $('#datetimepicker8').datetimepicker('minDate', e.date);
            });
            $("#datetimepicker8").on("change.datetimepicker", function (e) {
                $('#datetimepicker7').datetimepicker('maxDate', e.date);
            });
        });
    </script>

    <div class="row no-gutters">
        <!--Table-->
        <table id="tablePreview" class="table-dark table-hover table-responsive-xl table-striped table-bordered sortable">
            <!--Table head-->
            <thead style="background-color:#003468;color:yellow">
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    <th>Visits</th>
                    <th>Age</th>
                    <th>Country</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    <th>Visits</th>
                    <th>Age</th>
                    <th>Country</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    <th>Visits</th>
                    <th>Age</th>
                    <th>Country</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    <th>Visits</th>
                    <th>Age</th>
                    <th>Country</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    <th>Visits</th>
                    <th>Age</th>
                    <th>Country</th>
                </tr>
            </thead>
            <!--Table head-->
            <!--Table body-->
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Thornton</td>
                    <td>fat</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>twitter</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>twitter</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Thornton</td>
                    <td>fat</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>twitter</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>twitter</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Thornton</td>
                    <td>fat</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                </tr>
            </tbody>
            <!--Table body-->
        </table>
    </div>
